.container {
  background-color: #f7f7f7;
  padding: 20px 20px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.img-sanber {
  width: 20%;
}

.sanbercode {
  color: #003366;
}

.intensif {
  color: #25a9e0;
}

.weclome {
  padding-top: 20px;
}
